a{

    text-decoration: none;
    color: blue;

}

body {

    width: 100%;
    height: 100%;
    display: flex;

}

.esquerda {

    color: white;
    background: linear-gradient(to bottom, #4f46e5, #d946ef);
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;

}

.esquerda a {

    color: white;

}

.direita {

    height: 914px;
    width: 50%;
    display: flex;
    color: black;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

input {

    background-color: rgb(231, 231, 231);

}

.botao-bolinha {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-family: sans-serif;
    height: 40px;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
}

/* Esconde o checkbox padrão do navegador */
.botao-bolinha input {
    display: none;
}

/* Cria a bolinha personalizada */
.bolinha {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #666;
    background-color: #fff;
    transition: 0.2s;
}

/* Altera a cor e adiciona o preenchimento quando clicado */
.botao-bolinha input:checked~.bolinha {
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: inset 0 0 0 4px #fff;
    /* Cria o efeito de "bolinha marcada" */
}

.cadastro {

    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(230, 205, 205);
    padding: 20px;
    border-radius: 20px;
    height: 350px;
    width: 250px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);

}

button {

    color: white;
    background: linear-gradient(90deg, #4f46e5, #d946ef);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}

.cor {

    color: blue;

}