header {

  display: grid;
  justify-items: center;

}

header a {

  text-decoration: none;
  color: #ccc;

}

.celular-notificacao {

  height: 44px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 600;
  background-color: #2d6ee6;
  height: 40px;
  width: 200px;
  border-radius: 20px 20px 0 0;


}

.notificacao h3 {

  color: white;

}

.celular {

  display: flex;
  justify-content: center;

}

.procura {
  background: linear-gradient(180deg,
      #1f63e0 0%,
      #4f7cff 100%);

  padding: 10px;

}

.procura p {

  color: #ccc;


}

.procura h4{

  color: white;

}

.procura input{

  background: rgba(255, 255, 255, 0.555);

}

.corpo {

  display: flex;
  flex-direction: column;

}